{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recruitis{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<div class="container">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
